
@media screen and (max-width:600px){
 
 header{
    width: 100vw;
 }
    article{
        min-width: 310px;
        width: 70vw;
        margin: auto;
 }
    
}
@media screen and (min-width:1200px){
    article{
        max-width: 800px;
    }
    
}